{
	"printWidth": 150,
	"useTabs": true,
	"bracketSpacing": true,
	"cursorOffset": -1,
	"semi": true,
	"proseWrap": "preserve",
	"requirePragma": true,
	"arrowParens": "avoid",
	"parser": "babel",
	"trailingComma": "none"
}
